.message {
  display: flex;
  background-color: rgb(233, 233, 233);
  height: 100vh;

  .left {
    flex: 1;
    background-color: #fff;

    .top {
      height: 180px;
    }
    .logo {
      width: 90%;
    }

    .center {
      padding-left: 10px;
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      li {
        display: flex;
        align-items: center;
        padding: 30px;
        cursor: pointer;

        .link {
          text-decoration: none;
          color: grey;
          //font-size: 30px;
          &:hover {
            //background-color: rgb(175, 158, 158);
            color: rgb(62, 62, 255);
          }
        }

        // &:hover {
        //   background-color: rgb(175, 158, 158);
        //   //color: rgb(62, 62, 255);
        // }
        .icon {
          font-size: 30px;
        }
        span {
          font-size: 13px;
          font-weight: 600;
          margin-left: 10px;
          color: rgb(175, 158, 158);

          &:hover {
            //background-color: rgb(175, 158, 158);
            color: rgb(62, 62, 255);
          }
        }
      }
    }
  }
  .right {
    flex: 4;

    .nav {
      //background-color: #fff;
      padding: 15px;
      display: flex;
      justify-content: flex-end;

      p {
        margin-right: 10px;
        margin-left: 10px;
        padding-top: 10px;
      }
      button {
        width: 15%;
        height: 40px;
      }
    }

    h4 {
      // margin-top: 20px;
      padding: 43.5px;
      background-color: #fff;
    }
  }
}
